:root {
    --font-size-big: 30px;
    --font-size-normal: 14px;
    --font-size-small: 12px;

    --color-main: #3D3D3D;
    --color-danger: #C10000;
}

.header {
    background-color: #EEE;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    
    text-align: center;
    font-size: var(--font-size-big);
    color: var(--color-main);
}

.content {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto 1fr;
    grid-gap: 30px 15px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #EEE;
    padding: 20px;
}

.fieldTitle {
    display: block;
    
    color: var(--color-main);
    font-size: var(--font-size-normal);
    font-weight: 600;
}

.fieldTitle--search {
    margin-bottom: 5px;
}

.inputField {
    margin-bottom: 10px;
}

.label {
    color: var(--color-main);
    font-size: var(--font-size-normal);
}

.input {
    width: 200px;
    border: 1px solid var(--color-main);
    border-radius: 20px;
    padding: 10px 20px;

    font-size: var(--font-size-normal);
}

.error {
    color: var(--color-danger);
    font-size: var(--font-size-small);
    display: none;
}

.search {
    background-color: rgba(0, 0, 0, .1);
    padding: 20px 10px;
    border-radius: 20px;
}

.data {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.table {
    border-radius: 5px;
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, .1);
}

.cell {
    padding: 15px;
    border-bottom: 1px solid var(--color-main);
    background-color: rgba(255, 255, 255, .9);
}

.cell--header {
    background-color: var(--color-main);
    color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.action {
    height: 20px;
    width: 20px;
    object-fit: contain;
    -webkit-user-drag: none;
    cursor: pointer;
}

.form {
    background-color: rgba(0, 0, 0, .1);
    padding: 20px 10px;
    border-radius: 20px;
}

.addUserHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cancel {
    display: none;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    background: none;
    padding: 3px;
    
    color: var(--color-danger);
    font-size: var(--font-size-small);
}

.cancel:active {
    background-color: rgba(0, 0, 0, .1);
}

.addButton {
    width: 100%;
    padding: 10px 40px;
    background-color: #0D79AB;
    cursor: pointer;
    user-select: none;
    font-weight: 600;

    font-size: var(--font-size-normal);
    color: #FFF;
    border-radius: 20px;
}

.addButton:hover {
    background-color: #1174A2;
}

.pages {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .1);
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .05) inset,
                2px 2px 5px rgba(255, 255, 255, .5);
    cursor: pointer;
    user-select: none;

    text-align: center;
    font-size: var(--font-size-normal);
    font-weight: 600;
    color: var(--color-main);
}

.page--selected {
    background-color: #0D79AB;
    
    color: #FFF;
}